<h2 appColor>
    Главная страница
</h2>
<hr>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cumque cupiditate delectus deserunt dicta doloremque esse excepturi expedita facilis fuga, in, magnam magni modi officiis provident soluta suscipit ut vitae!
</p>
<hr>
<button class="btn btn-primary" (click)="openCarsPage()">
    Открыть страницу машин
</button>
<hr>
<button class="btn btn-success" (click)="changeAuthStatus(true)">вход</button>
<button class="btn btn-danger" (click)="changeAuthStatus(false)">выход</button>
