<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <input type="text" class="form-control" [(ngModel)]="searchCar">
            <button class="btn btn-primary" (click)="addCar()">Добавить</button>
            <hr>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of carList | carFilter:searchCar:'name'; let i = index">
                    <b>{{i + 1}}.</b> {{item.name}} <i>{{item.descr}}</i>
                </li>
            </ul>
        </div>
    </div>
</div>
